@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cyber Hackathon</h1>
    <br />
</div>

<div class="row rounded mt-4">
    <img class="text-center" style="max-height:70%;max-width:70%;" src="~/img/screen.jpeg" asp-append-version=true />
    <div class="col">
        <p>Хакатон — прекрасная возможность не только с пользой провести время, 
            но и улучшить свои профессиональные навыки, завести новые знакомства среди единомышленников 
            и получить отзыв более опытного разработчика.</p>
        
        <p align="center" style="font-family: monospace">
            Welcome to the club,boddy!
        </p> <br/>
        <div class="row-cols-md-auto">
            <a href="https://vk.com/cyberhackerss">
                <img class="row float-end" style="max-height:350px;max-width:350px;" src="~/img/panda.png" asp-append-version=true/>
            </a>
        </div>
        
    </div>
</div>