@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cyber Hackathon</h1>
    <br />
    <p>
        <a asp-controller="Verification" asp-action="Register">Для просмотра страницы, пожалуйста, пройдите регистрацию</a>
    </p>
</div>